@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Silkscreen&display=swap');

body {
    margin: 0;/*Comando para anular a margem padrão que vem no sistema*/
}
.main-login{
    width: 100vw; /*Viewport Width- utilizado para ajustar diretamente a largura dá página,corresponde a 1/10 de 1000px*/
    height: 100vh; /*Viewport Height - utilizado para ajustar diretamente a altura da página,corresponde a 1/10 de 1000px*/
    background: #201b2c;
    display: flex; /*Este comando faz com que os itens no seu programa fiquem lado a lado*/
    justify-content: center; /*Centraliza os itens no eixo-X e pode centralizar os itens pode utilizar com o tributo"Flex start para alinhar os itens a esquerda, center para alinhar no meio, e flex end par alinhar a direita"*/
    align-items: center; /*Alinhar os elementos na posição que preferir*/
} 

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;/*Desta forma conseguimos alinhar um item abaixo de outro mesmo utilizando o flex que normalmente deixa tudo ao lado um do outro*/
}
.left-login > h1 {
    color: #f36f18;
    font-family: silkscreen;
    text-shadow: 2px 2px 2px black;
    font-size: 3vw;
}

.left-login-img {
width: 28vw;
}

.card-login {
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;/*Ao usar o flex directions é invertido o que é eixo x e eixo y*/
padding: 30px 70px;
background: #2f2841;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.397);
border-radius: 10px;
}
.card-login > h1 {
    color: #f58338;
    font-weight: 800;
    margin: 0;
    padding-bottom: 15px;
    font-family: Orbitron;
    text-shadow: 2px 2px 2px black;
    font-size: 26px;
}
.textfield {
    width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin: 5px 5px 15px 5px;
}
.textfield > input {
width: 100%;
border: none;
border-radius: 10px;
padding: 10px;
background: #514869;
color: #f0ffffde;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.397);
box-sizing: border-box;
outline-color: #f5a169;
}
.textfield > label {
    color: aliceblue;
    padding: 10px;
}
.textfield > button {
padding: 10px;
}
.textfield > input::placeholder {
    color: white
}
.btn-login {
    width: 100%;
    padding: 16px 0px;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(28, 14, 63);
    background-color: #fa9856;
    cursor: pointer; /*Altera o cursor ao entra neste campo*/
    box-shadow: 0px 10px 40px -12px #ff9d5c;
}